source https://nuget.org/api/v2

nuget FubuCore 2.0.1.321
nuget FubuMVC.Core 3.0.2
nuget FubuMVC.Spark
nuget nlog
nuget spark 1.8.0.0
nuget Structuremap 4.4.3
nuget Newtonsoft.json 9.0.1
nuget htmltags 2.1.0.183
nuget FubuMVC.LightningQueues
nuget Xunit
nuget Shouldly
nuget FubuMVC.RavenDb 3.1.0.50747
nuget RavenDB.Client == 2.5.2750
nuget RavenDB.Database 2.5.2750
nuget RavenDB.Embedded 2.5.2750
nuget RavenDB.Server 2.5.2750
nuget Microsoft.CompilerServices.AsyncTargetingPack 1.0.1