<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
        <target name="allLogs" xsi:type="File" fileName="AllLogs.txt" layout="${date:format=ddMMyyyyHHmmss}|${appdomain}|${level}|${message}"/>
        <target name="errorLogs" xsi:type="File" fileName="ErrorLogs.txt" />
    </targets>

    <rules>
        <logger name="*" minlevel="Info" writeTo="allLogs" />
        <logger name="FubuCoreDemo.Transport*" minlevel="Error" writeTo="errorLogs" />
    </rules>
</nlog>